
h4{
    margin: 4rem;
    color: black;
}

.cards1 {
    margin-top: 1rem;
    display: flex;
    color: black;
    align-items: center;
    
}
@media (max-width: 715px) {
    .cards1 {
      flex-direction: column;
    }
    
  }

  @media (min-width:716px)and (max-width: 920px) {
    .cards1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: end;
    }
    
  }


.faq {
    background-color: black;
    color: white;
    margin: 5rem;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0;
}
@media (min-width:715px)and (max-width: 920px) {
    .faq {
   margin-left: -15rem;
   margin-bottom: -10rem;
    }
    
  }

